* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow-x: hidden;
}

body>div {
    max-width: 1100px;
    width: 100%;
    position: relative;
    height: auto;
}

body>div>header {
    background-color: #EC362D;
    width: 100vw;
    height: 69px;
    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 13px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
    width: 176px;
    margin: 0 auto;
}

main {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
}

.listar-quizzes {
    padding-top: 100px;
}

h2 {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.listar-quizzes>h2 {
    margin: 35px 0 0 18px;
}

.quizzes-usuario-header h2 {
    margin: 0 18px;
}

h2.tela-sucesso {
    margin-top: 0px;
}

.quizzes-usuario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.quizzes-usuario-header button {
    border-style: none;
    background-color: inherit;
}

.quizzes-usuario-header button img {
    height: 30px;
    width: 31px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.quizzes-usuario-header button img:hover {
    transform: scale(1.2);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.quizz-capa {
    display: flex;
    justify-content: center;
    width: auto;
    height: 181px;
    position: relative;
    margin: 14px 18px 0px 18px;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.quizz-capa::after {
    display: block;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    height: 100%;
    width: 100%;
    content: '';
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.quizz-capa:hover::after {
    opacity: 0;
    cursor: pointer;
}

.quizz-capa img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.quizz-capa h3 {
    width: 90%;
    position: absolute;
    z-index: 1;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 30px;
    bottom: 20px;
    text-align: left;
}

.container-botao-adicionar {
    height: 181px;
    width: auto;
    margin: 0px 18px 35px 18px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-botao-adicionar p {
    width: 250px;
    height: 107px;
    margin-top: 7px;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}

.container-botao-adicionar button {
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    width: 151px;
    height: 40px;
    background: inherit;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.container-botao-adicionar button:hover {
    color: white;
    background-color: #EC362D;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.exibir-quizz {
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.capa-quizz-individual {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 69px;
    left: 0;
    background-size: 100% 200px;
    z-index: 1;
}

.capa-quizz-individual h4 {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    padding: 30px;
    overflow-wrap: break-word;
    color: white;
}

.perguntas {
    width: 100%;
    margin-top: 293px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.caixa-quizz {
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
    padding: 18px 18px 23px 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.caixa-quizz h4 {
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 19px;
    padding: 20px 15px 15px 15px;
    overflow-wrap: break-word;
}

.caixa-respostas {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 17px;
}

figure {
    width: 100%;
    overflow-wrap: break-word;
}

figure img {
    width: 100%;
    object-fit: cover;

}

figure img:first-child,
figure img:nth-child(2) {
    margin-top: 12px;
}

figcaption {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    overflow-wrap: break-word;
}

.resposta-certa {
    color: #009C22;
}

.resposta-errada {
    color: #FF0B0B;
}

.selecionado {
    pointer-events: none;
}

.nao-selecionado {
    pointer-events: none;
    opacity: 30%;
}

.resultado img {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}

.resultado h4 {
    background-color: #EC362D;
    margin-bottom: 10px;
}

.resultado div {
    color: #484848;
    font-weight: bold;
    font-size: 17px;
}

.criacao {
    margin-top: 70px;
}

.comeco,
.criacao-perguntas,
.criacao-niveis,
.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criacao h3 {
    display: block;
    height: 89px;
    padding-top: 37px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.criacao input,
.criacao textarea {
    width: 100%;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    padding: 13px 14px;
    margin-top: 14px;
}

input:placeholder-shown,
textarea:placeholder-shown {
    font-style: italic;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BABABA;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #BABABA;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #BABABA;
}

.criacao button, .exibir-quizz button {
    width: 324px;
    max-width: 100%;
    height: 54px;
    background-color: #EC362D;
    opacity: 0.5;
    border-radius: 15px;
    border: none;
    color: #FFF5F4;
    font-size: 18px;
    line-height: 21px;
    margin: 29px 0 30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.exibir-quizz button {
    opacity: 1;
    margin: 0;
}

.exibir-quizz button:last-child {
    background: none;
    color: #818181;
}

.criacao button:hover, .exibir-quizz button:hover {
    opacity: 1;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.informacoes-basicas,
.criacao-pergunta,
.criacao-nivel {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 1px 20px;
    width: 100%;
    margin-bottom: 24px;
}

.criacao h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 27px 0 24px;
}

.mensagem-erro {
    font-size: 16px;
    color: #EC362D;
    line-height: 19px;
}

.criacao input.erro:placeholder-shown,
.criacao textarea.erro:placeholder-shown {
    background-color: #FFE9E9;
}

.criacao .comeco .informacoes-basicas li {
    margin-bottom: 10px;
}

.criacao-pergunta .resposta {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.pergunta-minimizada,
.nivel-minimizado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 0 20px;
}

.pergunta-minimizada i,
.nivel-minimizado i {
    font-size: 26px;
}

.criacao-nivel textarea {
    height: 177px;
    font-family: 'Roboto', sans-serif;
}

.criacao-sucesso button {
    margin: 24px 0px 15px;
}

.criacao-sucesso .voltar {
    background-color: transparent;
    color: #818181;
    border: none;
    margin: 0px 0px 30px;
}

.escondido {
    display: none;
}

@media screen and (min-width:1100px) {
    body>div {
        max-width: 100vw;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    main {
        width: 1070px;
        display: flex;
    justify-content: center;
    align-items: center;
    }

    .quizzes-usuario,
    .todos-quizzes {
        display: flex;
        flex-wrap: wrap;
    }

    .quizzes-usuario-header {
        justify-content: flex-start;
    }

    .listar-quizzes .quizz-capa {
        min-width: 340px;
        margin: 14px 15px 0px 0px;
    }

    .capa-quizz-individual {
        height: 227px;
    }

    .caixa-quizz {
        width: 759px;
        margin: 42px 0 0;
    }

    .caixa-quizz h4 {
        width: 695px;
        display: flex;
        height: 138px;
        justify-content: center;
        align-items: center;
        font-size: 23px;
        line-height: 27px;
    }

    figure{
        width: 330px;
        margin-right: 17px; 
    }

    figcaption{
        font-size: 20px;
    }

    .resultado{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 57px;        
    }

    .resultado img{
        width: 364px;
        height: 273px;
    }

    .resultado div{
        width: 328px;
        overflow-wrap: break-word;
        margin-left: 21px;
        font-size: 19px;
        line-height: 25px;
    }

    .resultado h4{
        width: 727px;
    }

    .criacao{
        width: 600px;
        padding-top: 34px;
    }

    .criacao h3{
        font-size: 23px;
    }

    .criacao button{
        width: 370px;
        font-size: 21px;
    }

    .botoes{
        
    }

}