*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

body > div {
    max-width: 614px;
    width: 100%;
    position: relative;
    height: auto;
}

header{
    background-color: #EC362D;
    max-width: 614px;
    width: 100%;
    height: 69px;
    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;
    position: fixed;
    z-index: 2;
    top: 0;
    padding: 13px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1{
    width: 176px;
    margin: 0 auto;
}

main{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
}

h2{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin: 0 18px;
}

.quizz-capa{
    display: flex;
    justify-content: center;
    width: auto;
    height: 181px;
    position: relative;
    margin: 14px 18px 0px 18px; 
}

.quizz-capa::after{
    display: block;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    height: 100%;
    width: 100%;
    content: '';
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.quizz-capa:hover::after{
    opacity: 0;
    cursor: pointer;
}

.quizz-capa img{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.quizz-capa h3{
    width: 90%;
    position: absolute;
    z-index: 1;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 30px;
    bottom: 20px;
    text-align: left;
}

.container-botao-adicionar {
    height: 181px;
    width: auto;
    margin: 100px 18px 35px 18px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-botao-adicionar p {
    width: 250px;
    height: 107px;
    margin-top: 7px;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}

.container-botao-adicionar button {
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    width: 151px;
    height: 40px;
    background: inherit;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.container-botao-adicionar button:hover {
    color: white;
    background-color: #EC362D;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.exibir-quizz {
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.capa-quizz-individual {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 69px;
    left: 0;
    background-size: 100% 200px;
    z-index: 1;
}

.capa-quizz-individual h4 {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    padding: 30px;
}

.perguntas {
    width: 100%;
    margin-top: 293px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.caixa-quizz {
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
    padding: 18px 18px 23px 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.caixa-quizz h4{
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 19px;
    padding: 20px 15px 15px 15px;
}

.caixa-respostas {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 17px;
}

figure img{
    width: 100%; 
    height: 200px;   
}
figure img:first-child, figure img:nth-child(2) {
    margin-top: 12px;
}

figcaption {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.resposta-certa {
    color: #009C22;
}

.resposta-errada {
    color: #FF0B0B;   
}

.selecionado {
    pointer-events: none;
}

.nao-selecionado {
    pointer-events: none;
    opacity: 30%;
}

.criacao{
    margin-top: 70px;
}

.mensagem-erro{
    font-size: 16px;
    color: #EC362D;
    line-height: 19px;
}

.comeco{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criacao h3{
    display: block;
    height: 89px;
    padding-top: 37px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.criacao .comeco .informacoes-basicas{
    width: 100%;
    background-color: #FFFFFF;
    padding: 21px 16px 14px;
   
}

.criacao .comeco .informacoes-basicas li{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criacao input, .criacao textarea{
    width: 100%;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    font-size: 19px;
    line-height: 23px;
    color: #BABABA;
    padding: 13px 14px;
}

.criacao button{
    width: 324px;
    max-width: 100%;
    height: 54px;
    background-color: #EC362D;
    opacity: 0.5;
    border-radius: 15px;
    border: none;
    color: #FFF5F4;
    font-size: 18px;
    line-height: 21px;
    margin-top: 29px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.criacao button:hover {
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.criacao-pergunta, .criacao-nivel{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.criacao h4{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 27px;
}

.criacao-pergunta input{
    margin-top: 14px;
}

.criacao-pergunta .resposta{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.pergunta-minimizada, .nivel-minimizado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.pergunta-minimizada i, .nivel-minimizado i{
    font-size: 26px;
}

.criacao-nivel input{
    margin-top: 14px;
}

.criacao-nivel textarea{
    margin-top: 14px;
    height: 177px;
    font-family: 'Roboto', sans-serif;
}

.escondido{
    display: none;
}
